<div class="container" id="container">
    <div class="form-container sign-in">
      <form action="/login" method="POST">
        <h1>Sign In</h1>
        <div class="social-icons">
          <a href="/" class="icon">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a href="/" class="icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="/" class="icon">
            <i class="fab fa-github"></i>
          </a>
          <a href="/" class="icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <span>or use your email password</span>
        <input
          type="email"
          placeholder="Email"
          name="email"
          value="<%= data.email %>"
          onchange="setData({ ...data, email: this.value })"
        />
        <input
          type="password"
          placeholder="Password"
          name="password"
          value="<%= data.password %>"
          onchange="setData({ ...data, password: this.value })"
        />
        <a href="/">Forget Your Password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
  </div>
  